@import 'tailwindcss';
@import '@nuxt/ui';

/* stylelint-disable-next-line at-rule-no-unknown */
@source '../../../content/**/*';

/* stylelint-disable-next-line at-rule-no-unknown */
@theme static {
  --font-sans: 'General Sans', sans-serif;

  --color-quizlet-50: #eef2ff;
  --color-quizlet-100: #e0e7ff;
  --color-quizlet-200: #c7d2fe;
  --color-quizlet-300: #a5b4fc;
  --color-quizlet-400: #818cf8;
  --color-quizlet-500: #6366f1;
  --color-quizlet-600: #4f46e5;
  --color-quizlet-700: #4338ca;
  --color-quizlet-800: #3730a3;
  --color-quizlet-900: #312e81;
  --color-quizlet-950: #1e1b4b;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1180px;
}

/* Flashcard flip animation */
.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
